.social-icons {
	height: 50px;
	width: 50px;
	margin: 5px;

}

footer {
	background-color: #2c3840;
	padding: 20px 0px 0px 30px;

}

h4 {
	color: #3f68fc;
}

.marketing-site-footer-contacts {
	color: white;
}

.marketing-site-footer-bottom p {
	color: white;
	text-align: center;
}

.marketing-site-footer-links {
	display: block;
}

.marketing-site-footer-links a {
	padding: 5px 0px 5px 0px;
	color: white;
}

.marketing-site-footer-services {
	display: block;
	padding: 5px 0px 5px 0px;
}

.marketing-site-footer-services a {
	padding: 5px 0px 5px 0px;
	color: white;
}