.social-icons {
	height: 50px;
	width: 50px;

}

footer {
	background-color: #656668;

}

h4 {
	color: #3f68fc;
}

.marketing-site-footer-contacts {
	color: white;
}

.marketing-site-footer-bottom p {
	color: white;
	text-align: center;
}

.marketing-site-footer-links {
	display: block;
}

.marketing-site-footer-links a {
	padding: 5px 16px 5px 16px;
}