
.feature-section-blog {
	display: inline-flex;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

section {
	display: block;
}

/*hero*/
.blog-header {
    background: url("https://picsum.photos/1900/300?image=249") top right no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.blog-header h1 { 
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    width: 100%;

    }

.blog-title-descr {
	margin-top: 12px;
	margin-bottom: 20px;
}

